a.btn.dropdown-toggle{
     color: red !important;
}
i.fa.fa-long-arrow-left.text-primary.mr-2{
     color: red !important;
}
i.fa.fa-folder-open.text-primary.mr-2{
    color: red !important;

}
a.nav-link {
    color: white !important;
}
.o_wevent_index_topbar_filters .dropdown-toggle :hover{
      color: red!important;
}
.navbar-brand{
    color:white!important;
}
.o_wevent_index_topbar_filters .dropdown-toggle .fa{
    color: red!important;

}
button.btn.btn-primary.oe_search_button{
	background-color:red!important;
    }
.dropdown-toggle:hover {
  color: red!important;
}

.o_wevent_index_topbar_filters .dropdown-item.active .badge, .o_wevent_index_topbar_filters .dropdown-menu a.active .badge, .dropdown-menu .o_wevent_index_topbar_filters a.active .badge, .o_wevent_index_topbar_filters .dropdown-item.active .label, .o_wevent_index_topbar_filters .dropdown-menu a.active .label, .dropdown-menu .o_wevent_index_topbar_filters a.active .label {
    color: white !important;
}
.dropdown-item.active, .dropdown-menu a.active, .dropdown-item:active, .dropdown-menu a:active {

    background-color: red !important;
}

.badge-primary {

    background-color: red !important;
}